body {
    background-color: rgb(241, 241, 241);
    height: 100vh;
}
.formSummaryError{
    color: red;
    font-size: 16px;
}
.checkBoxRememberME{
    display: flex;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.wrapper__login {
    position: absolute;
    top: 50%;	
    padding: 18px 6% 36px 6%;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 10px;
}

.wrapper__login_button{
    margin-top: 15px;
}

.wrapper {
    min-height: 560px;
    margin: 0px auto;
    width: 500px;
    position: relative;
}

.wrapper h1 {
    font-size: 32px;
    color: rgb(127, 48, 207);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(
        left, rgba(147,184,189,0) 0%,
        rgba(0, 184, 31, 0.8) 20%,
        rgb(69, 83, 207) 53%,
        rgba(182, 7, 45, 0.8) 79%,
        rgba(147,184,189,0) 100%);
}

 
input {
    outline: none;
}

.wrapper input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
.wrapper input:not([type="checkbox"]):active,
.wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);   
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

/* 
.button input{
    width: 35%;
    cursor: pointer;    
    background: #8f509d;
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;    
    border: 1px solid rgb(28, 108, 122);    
    margin-bottom: 10px;    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px; 
    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
               0px 0px 0px 3px rgb(254, 254, 254),
               0px 5px 3px 3px rgb(210, 210, 210);
    transition: all 0.2s linear;
}

.wrapper p.button input:hover{
    background: rgb(74, 179, 198);
}
.wrapper p.button input:active,
.wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);  
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

.wrapper__register{ 
    z-index: 21;
    opacity: 1;
} */


/* #toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}


.wrapper__register{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
} */
/* @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
} */


