.drivers {
    color: rgb(163, 163, 163);
    font-size: 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}
.sos > .ant-modal-content > .ant-modal-body > .ant-modal-confirm-body-wrapper > .ant-modal-confirm-body > .ant-modal-confirm-title{
    color: red;
  }

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.infoDriver {
    margin: 10px;
}

.driver-data:last-child{
    margin-bottom: 30px;
}
/* .drivers:hover{
    background-color: #697e91;
    border-radius: 100px;

} */
.drivers_data{
    display: flex;
    color: #c0e1fd;
    font-size: 16px;
}

.viewingInformationDriver{
    position: absolute;
    right: 10px;
    top: -5px;
    height: 80px;
    width: 32px;
  
    font-size: 22px;
      /* border: 1px solid; */
    /* width: 22px; */
    /* box-shadow:  0 0 10px rgba(112, 186, 255, 0.6); */
}
.onlineStatus {
 
    height: 16px;
    width: 16px;
}
.statusDriver{
    display: flex;
    align-items: center;
    width: 235px;
}
.drivingTime{
    margin: 3px;
}
.notOnlineStatus {


    height: 16px;
    width: 16px;
}
.viewCard{
    position: relative;
    top: 0;
    right: 0px;
    color: #fff;
    transition: color .2s linear;
}
.locationCard{
    position: relative;
    top: 0px;
    right: 0px;
    color: #fff;
    transition: color .2s linear;
}
.locationCard:hover {
    transition: color .2s linear;
    color: #1890ff;
}
.viewCard:hover {
    transition: color .2s linear;
    color: #1890ff;
}
.siteDescriptionItemProfilePLabel{
    font-weight: bold;
    margin-top: 10px;
}
.siteDescriptionItemProfileWrapper{
    margin-top: 12px;
}

.avatarInCard {
    width:  120px;
    height: 120px;
    border-radius: 10px;
    margin-right:  10px;
}
iframe{
    margin-top: 20px;
    width: 100%;
    height: 720px;
}