.drivers {
    color: rgb(163, 163, 163);
    font-size: 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}


.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.infoDriver {
    margin: 10px;
}

.driver-data:last-child{
    margin-bottom: 30px;
}
/* .drivers:hover{
    background-color: #697e91;
    border-radius: 100px;

} */
.drivers_data{
    display: flex;
    color: #c0e1fd;
    font-size: 16px;
}

.viewingInformationDriver{
    position: absolute;
    right: 5px;
    top: -5px;
    /* border: 1px solid; */
    /* width: 22px; */
    font-size: 22px;
    /* box-shadow:  0 0 10px rgba(112, 186, 255, 0.6); */
}
.viewCard{
    color: #fff;
    transition: color .2s linear;
}
.viewCard:hover {
    transition: color .2s linear;
    color: #1890ff;
}
.siteDescriptionItemProfilePLabel{
    font-weight: bold;
    margin-top: 10px;
}
.siteDescriptionItemProfileWrapper{
    margin-top: 12px;
}

.avatarInCard {
    width:  120px;
    height: 120px;
    border-radius: 10px;
    margin-right:  10px;
}