.drivers {
    color: #57abf5;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}


.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.infoDriver {
    margin: 10px;
}

.driver-data:last-child{
    margin-bottom: 30px;
}
/* .drivers:hover{
    background-color: #697e91;
    border-radius: 100px;

} */
.drivers_data{
    display: flex;
    color: #c0e1fd;
    font-size: 16px;
}
