#side-checkbox {
    display: none;
    
}
.side-panel {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -360px;
    background: #5c7183;
    transition: all 0.5s;   
    width: calc(12% + 4rem);
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 25px 15px;
    opacity: 0.95;
    overflow-x: auto;
    min-width: 280px;
    padding-bottom: 40px;
}
.side-panel::-webkit-scrollbar {
    width: 10px;
    opacity: 0.95;
  }
  
  .side-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 3px;
  }
  
  .side-panel::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(180deg, #18aaaa, #005bea);
  }

.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.Leftpanel {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 .side-b {
    margin: 0px;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 15px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #7890a4;
    cursor: pointer; 
    border: 2px solid #57768f;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
    background: #0b5b0b;
    border-radius: 5px 5px 5px 5px;
}

.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    opacity: 0.5; 
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
#side-checkbox:checked + .side-panel + .Leftpanel .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);   
    color: #FFF;
}
.side-b {
    z-index: 10;
    opacity: 0.75;
    left: 5px;
    top: 5px;
    border-radius: 5px 5px 5px 5px;
}


.Exit {
    margin: 0px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 15px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #7890a4;
    cursor: pointer; 
    border: 2px solid #57768f;
    top: 10px;
    transition: all .2s linear
}

.Exit:hover {
    color: bisque;
    background-color: cadetblue;
    transition: all .2s linear
}